[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "==2.2.0"
keras = "==2.4.3"
numpy = "==1.18.5"
gym = "==0.17.2"

[requires]
python_version = "3.6"
